.contact-one-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-one-cad-1,
.contact-one-cad-2 {
  width: 100%;
}
.contact-one-cad-1 > strong,
.contact-one-cad-2 > strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-one-cad-1 .cont-oca,
.contact-one-cad-2 .cont-oca {
  width: 100%;
  display: flex;
}
.contact-one-cad-1 .cont-oca .cont-oca-la > label,
.contact-one-cad-2 .cont-oca .cont-oca-la > label {
  display: flex;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin: 15px 0 33px;
}
.contact-one-cad-1 .cont-oca .cont-oca-la span,
.contact-one-cad-2 .cont-oca .cont-oca-la span {
  color: #5A5A5A;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-one-cad-1 .them_biaoti,
.contact-one-cad-2 .them_biaoti {
  margin: 0 0 0 37px;
}
.contact-one-cad-1 .cont-oca-phone,
.contact-one-cad-2 .cont-oca-phone {
  margin: 0 0 0 44px;
}
.contact-one-cad-1 .cont-oca-phone label,
.contact-one-cad-2 .cont-oca-phone label {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-one-cad-1 .cont-oca-phone label span,
.contact-one-cad-2 .cont-oca-phone label span {
  margin: 0 9px 0 0;
}
.contact-one-cad-1 .cont-oca-phone label input,
.contact-one-cad-2 .cont-oca-phone label input {
  width: 173px;
  height: 25px;
  flex-shrink: 0;
  background: #EFEFEF;
  border: none;
  outline: none;
}
.contact-two {
  width: 100%;
  min-height: 652px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #FFF;
  margin-top: 22px;
  padding: 0 0 10px;
}
.contact-two .con-two-main {
  width: 1241px;
  height: 100%;
  flex-shrink: 0;
  padding: 9px 0 0 16px;
  box-sizing: border-box;
}
.contact-two .con-two-main .con-two-top {
  color: #5A5A5A;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-two .con-two-main .con-two-con {
  display: flex;
  width: 100%;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 {
  margin-top: 22px;
  width: 50%;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-1-1 strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-1-1 svg {
  cursor: pointer;
  margin: 0 22px;
  vertical-align: bottom;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-1-1 span {
  color: #000;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  /* 0px */
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list {
  margin-top: 22px;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls {
  width: 588px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls:last-child {
  margin-bottom: 0;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .ctc {
  width: 562px;
  height: 57px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .ctc .con-radios {
  margin: 0 0 0 15px;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .ctc strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .ctc .con-up-img {
  display: flex;
  width: 37px;
  height: 37px;
  margin: 0 37px 0 11px;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .ctc .con-text strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 9px 0 0;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .ctc .con-text input {
  width: 300px;
  height: 25px;
  flex-shrink: 0;
  background: #EFEFEF;
  border: none;
  outline: none;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .ctc .con-td {
  cursor: pointer;
  margin: 0 0 0 15px;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .ctc-act {
  border: 1px solid #E83434;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-list .con-two-con-ls .con-de-1 {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color {
  margin-top: 56px;
  display: grid;
  gap: 30px 12px;
  grid-template-rows: 1fr;
  grid-template-columns: 138px 235px;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color > label {
  display: flex;
  flex-direction: column;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color > label input {
  border: none;
  outline: none;
  min-height: 0;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color > label strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-wz input {
  width: 137px;
  height: 25px;
  flex-shrink: 0;
  background: #EFEFEF;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-an > span,
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-wz-color > span {
  display: flex;
  width: 137px;
  height: 25px;
  flex-shrink: 0;
  border: 1px solid #EFEFEF;
  background: #FFF;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-an > span input,
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-wz-color > span input {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-an > span span,
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-wz-color > span span {
  color: #272829;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-an > span em,
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-wz-color > span em {
  display: flex;
  width: 29px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #EFEFEF;
  color: #272829;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-two .con-two-main .con-two-con .con-two-con-1 .con-two-con-color .ctc-an-link input {
  width: 235px;
  height: 24px;
  flex-shrink: 0;
  background: #EFEFEF;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 {
  width: 522px;
  flex-shrink: 0;
  border: 1px dashed #B7B7B7;
  padding: 23px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 label {
  display: flex;
  align-items: center;
  width: 475px;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 label strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 20px 0 0;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 label input {
  width: 332px;
  height: 25px;
  flex-shrink: 0;
  background: #EFEFEF;
  min-height: 0;
  border: none;
  outline: none;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 .ctc-map-save {
  display: flex;
  align-items: center;
  width: 475px;
  margin-top: 14px;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 .ctc-map-save strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 .ctc-map-save span {
  color: #000;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  /* 0px */
  margin: 0 20px;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 .ctc-map-save button {
  cursor: pointer;
  background: #ffffff;
  height: 23px;
  flex-shrink: 0;
  border: 1px solid #1c8cf2;
  box-sizing: border-box;
  color: #1C8CF2;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 .ctc-map-main {
  position: relative;
  margin-top: 35px;
  width: 463px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 10px;
  box-sizing: border-box;
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 .them_biaoti {
  flex-direction: column;
  margin: 15px 0;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 .them_biaoti .biaoti_title {
  margin: 5px 0;
}
.contact-two .con-two-main .con-two-con .con-two-con-2 .them_biaoti .wp-editor-wrap {
  width: 463px;
}
/*# sourceMappingURL=contact.css.map */