.wp-editor-wrap {
    border: 1px solid #C4C4C4;
    width: 621px;
}

/* 选择页面 */
.them_xzym {
    position: fixed;
    top: 25px;
    right: 0;
    /* min-width: 1717px; */
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    background: #FFD3CF;
    font-size: 14px;
    margin: 22px 0 0 0;
    z-index: 998;
    width: calc(100% - 180px);
}

@media screen and (max-width:960px) {
    .them_xzym {
        width: calc(100% - 56px);
    }
}

.them_xzym-bst {
    width: 100%;
    height: 56px;
}

.them_xzym .xzym {
    margin-left: 22px;
    display: flex;
    align-items: center;
}


.them_xzym .xzym a {
    margin-left: 12px;
    width: 174px;
    height: 24px;
    background: #EFEFEF;
    display: block;
    padding-left: 8px;
    box-sizing: border-box;
    line-height: 24px;
}

.them_xzym button.bc {
    width: 170px;
    height: 37px;
    margin-right: 79px;
    color: #FFF;
    border-radius: 4px;
    background: #E83434;
    cursor: pointer;
}

/* 每一框title */
.them_title {
    margin-bottom: 5px;
}

.them_title .title {
    font-size: 14px;
    font-weight: 400;
    color: #5A5A5A;
}

/* 标题区域 */
#editor—wrapper {
    width: 621px;
    border: 1px solid #ccc;
    z-index: 100;
    /* 按需定义 */
}

#toolbar-container {
    border-bottom: 1px solid #ccc;
}

#editor-container {
    resize: both;
    height: 85px;
}

.w-e-bar-item button {
    height: 21px !important;
}

.biaoti_title {
    margin-top: 4px;
    margin-right: 32px;
    font-size: 14px;

    font-weight: 700;

}

.w-e-bar-item {
    height: 21px !important;
}

textarea[name='them_biaoti'] {
    display: none;
}

.them_biaoti {
    display: flex;

}

/* 第一屏左右分割 */

/* 按钮文字，文字颜色，按钮颜色 */
.them_anniu ul li {
    display: grid;
    grid-template-columns: 137px 137px 137px 235px;
    grid-gap: 0 21px;

}

.them_anniu ul li.title div {
    font-size: 14px;

    font-weight: 700;
}

.them_anniu ul li.item div.anwz input,
.them_anniu ul li.item div.anlj input {
    width: 100%;
    background: #EFEFEF;
    border: none;
    min-height: 25px;
    height: 25px;
    border-radius: 0;
}

.them_anniu ul li.item div.wzys input,
.them_anniu ul li.item div.anys input {
    padding: 0;
    border: none;
    border-radius: 0;
    min-height: 25px;

    height: 25px;
    width: 27px;

}

.them_anniu ul li.item div.wzys,
.them_anniu ul li.item div.anys {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.them_anniu ul li.item div.wzys .moren,
.them_anniu ul li.item div.anys .moren {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
}

.them_anniu ul li.item div.wzys input::-webkit-color-swatch-wrapper,
.them_anniu ul li.item div.anys input::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;

}

.them_anniu ul .item {
    margin-top: 16px;
}

/* 电脑版底图 */
.them_pcditu {}

.them_content_r .title_box {
    display: flex;
    align-items: center;
}

.them_content_r .title_box .title_title {
    font-size: 14px;

    font-weight: 700;
}



.them_content_r .title_box .title_cc {
    color: #5A5A5A;
    font-size: 12px;
    font-weight: 400;
    margin-left: 27px;
}



.them_content_r .sc_box {

    background: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
}

.them_content_r .pcditu {
    width: 283px;
    height: 106px;
}

.them_content_r .modileditu {
    width: 175px;
    height: 93px;
}

.them_modileditu {
    margin-top: 15px;
}

.them_content_r .morent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.them_content_r .morent div {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

#pcditu_sc {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.them_content_r .sc_box img {
    display: none;
    aspect-ratio: 1440/360;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.them_content_r label {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modileditu_sc img {
    aspect-ratio: 375/130;
}

/* 手机版底图 */
.them_mbditu {
    margin-top: 16px;
}

.them_content_r .mbditu {
    width: 215px;
    height: 75px;
}

#mbditu_sc {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#modileditu_sc img {
    aspect-ratio: 375/130;
}

/* 滚动横幅 */
.gdhengfu_titlebox {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.gdhengfu_contentr {
    border: 1px dashed #B7B7B7;
    padding: 23px 26px 18px 26px;
}

.gdhengfu_title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.gdhengfu_titlebox .gdhengfu_jia {
    width: 15px;
    display: flex;
    align-items: center;
    margin-left: 11px;
    cursor: pointer;
}

.gdhengfu_titlebox .gdhengfu_zd {
    margin-left: 8px;
}

.gdhengfu_titlebox .gdhengfu_cc {
    margin-left: 25px;
}

.gdhengfu_yulanbox {
    width: 219px;
    height: 123px;
    position: relative;
    overflow: hidden;
}

.gdhengfu_yulanbox .gdhengfu_yulanimg {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.gdhengfu_yulanbox .gdhengfu_yulanimg img {
    aspect-ratio: 220/123;
    height: 100%;
    display: none;

}

.gdhengfu_content {
    display: flex;
    align-items: center;
}

.gdhengfu_yulanbox .gdhengfu_yulan {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
}

.gdhengfu_lunbo {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 23px;

}

.gdhengfu_lunbo .gdhengfu_item {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgba(239, 239, 239, 1);
}

.gdhengfu_lunbo .gdhengfu_item.active {
    border: 1px solid rgba(255, 133, 133, 1);
}

.gdhengfu_lunbo .gdhengfu_itemclose {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
    z-index: 4;
    cursor: pointer;
}

.gdhengfu_contentl {
    width: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 58px;
    margin-right: 37px;
}

.editor—wrapper {
    border: 1px solid #C4C4C4;
    width: 621px;
    height: 109px;
    resize: both;
    overflow-y: auto;
}

.toolbar-container {
    border-bottom: 1px solid #C4C4C4;
}

.editor-container {}

#toolbar-container1,
#toolbar-container2,
#toolbar-container3,
#toolbar-container4 {
    border-bottom: 1px solid #C4C4C4;


}

#editor—wrapper {
    resize: both;
}

#editor—wrapper1,
#editor—wrapper2,
#editor—wrapper3,
#editor—wrapper4 {
    border: 1px solid #C4C4C4;
    width: 621px;
    height: 109px;
    resize: both;
    overflow: auto;
}


/* 产品线模块 */
.them_gdchanpinxianmokuai .gdchanpinxianmokuai_yulanbox {
    width: 100px;
    height: 100px;
}

.gdchanpinxianmokuai_titlebox {
    display: flex;
    align-items: center;
}

.gdchanpinxianmokuai_title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.gdchanpinxianmokuai_titlebox .gdchanpinxianmokuai_jia {
    width: 15px;
    display: flex;
    align-items: center;
    margin-left: 11px;
    cursor: pointer;
}

.gdchanpinxianmokuai_titlebox .gdchanpinxianmokuai_zd {
    margin-left: 8px;
}

.gdchanpinxianmokuai_titlebox .gdchanpinxianmokuai_cc {
    margin-left: 25px;
}

.gdchanpinxianmokuai_yulanbox {
    width: 219px;
    height: 123px;
    position: relative;
    overflow: hidden;
}

.gdchanpinxianmokuai_yulanbox .gdchanpinxianmokuai_yulanimg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;

}

.gdchanpinxianmokuai_yulanbox .gdchanpinxianmokuai_yulanimg img {
    aspect-ratio: 100/100;
    height: 100%;
}

.gdchanpinxianmokuai_content {
    display: flex;
    align-items: center;
}

.gdchanpinxianmokuai_yulanbox .gdchanpinxianmokuai_yulan {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
}

.gdchanpinxianmokuai_lunbo {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 23px;

}

.gdchanpinxianmokuai_lunbo .gdchanpinxianmokuai_item {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgba(239, 239, 239, 1);
}

.gdchanpinxianmokuai_lunbo .gdchanpinxianmokuai_item.active {
    border: 1px solid rgba(255, 133, 133, 1);
}

.gdchanpinxianmokuai_lunbo .gdchanpinxianmokuai_itemclose {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
    z-index: 4;
    cursor: pointer;
}

.gdchanpinxianmokuai_contentl {
    width: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 58px;
    margin-right: 37px;

}

.gdchanpinxianmokuai_contentr {
    padding: 31px 22px 18px 22px;
    border: 1px dashed #B7B7B7;
}

.gdchanpinxianmokuai_ritem_biaoti {
    display: flex;
    align-items: center;
}

.gdchanpinxianmokuai_ritem_biaoti .gdchanpinxianmokuai_input {
    width: 280px;
    height: 25px;
    margin-left: 11px;
}

.gdchanpinxianmokuai_ritem_biaoti .gdchanpinxianmokuai_input input {
    width: 100%;
    height: 100%;
    min-height: 25px;
    border-radius: 0;
    background: #EFEFEF;
    border: none;
}

.gdchanpinxianmokuai_ritem_miaosu {
    display: flex;
    margin-top: 14px;
}

.gdchanpinxianmokuai_input textarea {
    background: #EFEFEF;
    resize: none;
    margin-left: 11px;
    width: 280px;
    height: 148px;
    border: none;
    border-radius: 0;
}

/* 开启或隐藏模块 */
.ycbtn {
    display: flex;
    margin-right: 67px;
}

.ycbtn_text {
    font-size: 14px;
    font-weight: 400;
}

.ycbtn_kg {
    width: 35px;
    height: 18px;
    border-radius: 20px;
    border: 1px solid #1C8CF2;
    position: relative;
    color: #1C8CF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-left: 9px;
    cursor: pointer;
}

.ycbtn_kg div:first-child {
    margin-left: 4px;
    transform: scale(0.9);
}

.ycbtn_kg div:last-child {
    margin-right: 4px;
    transform: scale(0.9);
}

.ycbtn_kg .yx {
    background: #1C8CF2;
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 19px;
}

.ycbtn_kg.active .yx {
    left: 2px;
    background: #000;
}

.ycbtn_kg.active {
    color: #5A5A5A;
    border: 1px solid #5A5A5A;
}

/* 底图 */
.them_ditu {
    margin-left: 48px;
}

#ditu_sc {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ditu_sc img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    aspect-ratio: 1440/1639;
}

.ditu_title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin-top: 44px;
}

.ditu_tishi {
    margin-top: 17px;
    color: #5A5A5A;
    font-size: 12px;
    font-weight: 400;
}

.ditu {
    margin-top: 13px;
    width: 273px;
    height: 312px;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 第一屏模板 */
.them_ping {
    background: #fff;
    padding: 9px 10px 24px 16px;
    border-radius: 3px;
    margin-top: 23px;
}

.them_content {
    display: flex;
    /* min-height: 320px; */

}

.them_content_l {
    padding-top: 20px;
    padding-right: 26px;
    border-right: 1px dashed #B7B7B7;
}

.them_content_r {
    padding-top: 20px;
    padding-left: 95px;
}

/* 切换卡片 */
.qhkp_titlebox {
    display: flex;
    align-items: center;
}

#peitu_sc,
#peitu_sc2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#peitu_sc img,
#peitu_sc2 img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    aspect-ratio: 545/334;
}

.qhkp_title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.qhkp_titlebox .qhkp_jia {
    width: 15px;
    display: flex;
    align-items: center;
    margin-left: 11px;
    cursor: pointer;
}

.qhkp_titlebox .qhkp_px {
    margin-left: 8px;
    width: 335px;
}

.them_kapian2 .qhkp_content_l {
    padding-left: 87px;
    padding-right: 40px;
    width: 200px;
}

.them_qhkp .qhkp_content_l {
    width: 590px;
}

.qhkp_content_l {
    display: flex;
    margin-top: 10px;
    flex-direction: column;


}

.qhkp_item {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.qhkp_itemx {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    width: 562px;
    height: 57px;
    justify-content: space-between;
}

.qhkp_biaozhi {
    display: flex;
    align-items: center;
}

.qhkp_raio {
    margin-left: 14px !important;
    border: 1px solid #000000 !important;
}

.qhkp_raio:checked::before {
    background-color: #d73c3a !important;
}

.qhkp_tuozhuai {
    margin-right: 22px;
}

.qhkp_content {
    display: flex;
}

.qhkp_itemclose {
    margin-left: 11px;
}

.qhkp_biaoti {
    display: flex;
    align-items: center;
}

.qhkp_biaotiinput {
    width: 300px;
    height: 25px;
    margin-left: 9px;
}

.qhkp_biaozhiimg {
    margin-left: 11px;
}

.qhkp_biaotiinput input {
    width: 100%;
    border: none;
    border-radius: 0;
    min-height: 100%;
    background: #EFEFEF;
}

.qhkp_itemx.active {
    border: 1px solid #E83434;
}

.qhkp_biaozhiimg {
    width: 37px;
    height: 37px;
}

.qhkp_itemclose {
    width: 15px;
}

.qhkp_content_r {
    border: 1px dashed #B7B7B7;
    display: flex;
    margin-left: 25px;
    padding: 44px 28px 48px 29px;
}

.qhkp_content_rl #editor—wrapper4 {
    width: 296px;
    height: 252px;
    margin-top: 23px;
}

.qhkp_content_rrtishi {
    color: #5A5A5A;
    font-size: 12px;
    font-weight: 400;
    margin-top: 17px;
}

.peitu {
    margin-top: 21px;
    width: 173px;
    height: 106px;
    background: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}


.qhkp_content_rr {
    margin-left: 43px;
}

.qhkp_content_rr .qhkp_content_rrtitle,
.qhkp_content_rl .qhkp_content_rltitle {
    font-size: 14px;
    font-weight: 700;
}

/* 切换卡片2 */
.qhkp_content2 .qhkp_itemx {
    width: 173px;
}

.qhkp_content2 {
    margin-top: 40px;
}

.qhkp_content2 .qhkp_content_rl #editor—wrapper4 {
    width: 548px;

}

.qhkp_content2 .editor—wrapper {
    height: 269px;
    margin-top: 21px;
}

/* logo墙 */
.logoqiang_logoitemimg {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.logoqiang_logoitemimg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.logoqiang_titlebox,
.logoqiang_item_titlebox {
    display: flex;
    align-items: center;
}

.logoqiang_item_titlebox {
    margin-top: 15px;
    margin-bottom: 17px;
}

.logoqiang_titlebox {
    border-top: 1px dashed #B7B7B7;
    padding-top: 25px;
    margin-top: 16px;
}

.logoqiang_title,
.logoqiang_item_title {
    font-size: 14px;
    font-weight: 700;
}

.logoqiang_xuzi,
.logoqiang_item_hanshu {
    color: #7B7B7B;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
}

.logoqiang_tongbu {
    margin-left: 20px;
    width: 70px;
    height: 23px;
    border: 1px solid #E83434;
    color: #E83434;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoqiang_xingzeng {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1C8CF2;
    margin-left: auto;
    margin-right: 100px;
    width: 70px;
    border: 1px solid #1C8CF2;
    height: 23px;
}

.logoqiang_item_content {
    display: flex;
    align-items: center;
}

.logoqiang_jia {
    width: 15px;
}

.logoqiang_prev,
.logoqiang_next {
    width: 27px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    height: 28px;
    background: #F1F1F1;
}

.logoqiang_prev {
    margin-right: 16px;
    margin-left: 10px;
}

.logoqiang_next {
    margin-right: 10px;
    margin-left: 16px;
}

.logoqiang_logobox {
    width: 10000px;

}

.logoqiang_dalogobox {
    overflow: hidden;
    width: 1000px;
}

.logoqiang_logoitem {
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.logoqiang_logoitemclose {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 15px;
    z-index: 4;
    cursor: pointer;
}

/* 富文本框中专 */
textarea[name="them_zhongzhuan"] {
    display: none;
}