.t-t-color .pub-color {
  display: flex;
  flex-direction: column;
}
.t-t-color .pub-color li {
  display: grid;
  grid-template-columns: 137px 137px 137px 253px;
  grid-template-rows: 25px;
  gap: 0 20px;
  align-items: center;
  margin-bottom: 20px;
}
.t-t-color .pub-color li > span {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.t-t-color .pub-color li > label {
  display: flex;
  align-items: center;
}
.t-t-color .pub-color li > label input {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 0;
}
.t-t-color .pub-color li .pu-color-wz {
  width: 100%;
  height: 100%;
}
.t-t-color .pub-color li .pu-color-wz input {
  width: 100%;
  height: 100%;
  background: #EFEFEF;
  padding: 0 0 0 5px;
}
.t-t-color .pub-color li .pu-color-wc,
.t-t-color .pub-color li .pu-color-ac {
  border: 1px solid #EFEFEF;
  background: #FFF;
  box-sizing: border-box;
}
.t-t-color .pub-color li .pu-color-wc input,
.t-t-color .pub-color li .pu-color-ac input {
  width: 25px;
  height: 25px;
}
.t-t-color .pub-color li .pu-color-wc span,
.t-t-color .pub-color li .pu-color-ac span {
  color: #272829;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 17px 0 10px;
}
.t-t-color .pub-color li .pu-color-wc em,
.t-t-color .pub-color li .pu-color-ac em {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272829;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 2px;
  background: #EFEFEF;
  padding: 2px 3px;
}
.t-t-color .pub-color li .pu-color-link {
  width: 100%;
  height: 100%;
}
.t-t-color .pub-color li .pu-color-link input {
  width: 100%;
  height: 100%;
  background: #EFEFEF;
  padding: 0 0 0 5px;
}
.proshow-two {
  margin-top: 22px;
  width: 100%;
  padding: 16px 0 0 16px;
  box-sizing: border-box;
  background: #ffffff;
}
.proshow-two .pro-two-tit {
  color: #5A5A5A;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.proshow-two .pro-t-tit {
  margin-top: 33px;
}
.proshow-two .pro-t-tit strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.proshow-two .pro-t-tit svg {
  vertical-align: bottom;
  cursor: pointer;
  margin: 0 10px;
}
.proshow-two .pro-t-tit span {
  color: #5A5A5A;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  /* 0px */
}
.proshow-two .pro-mod-list {
  margin: 16px 0 0 95px;
}
.proshow-two .pro-mod-list .plis {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.proshow-two .pro-mod-list .plis .pls-lis {
  width: 433px;
  height: 57px;
  flex-shrink: 0;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px 0 14px;
}
.proshow-two .pro-mod-list .plis .pls-lis strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.proshow-two .pro-mod-list .plis .pls-lis .pls-inp {
  width: 281px;
  height: 25px;
  flex-shrink: 0;
}
.proshow-two .pro-mod-list .plis .pls-lis .pls-inp input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #EFEFEF;
  min-height: 0;
}
.proshow-two .pro-mod-list .plis .pls-lis figure {
  cursor: pointer;
}
.proshow-two .pro-mod-list .plis .pls-de {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  cursor: pointer;
  margin: 0 0 0 12px;
}
.proshow-two .pro-mod-list .plis-act .pls-lis {
  border: 1px solid #E83434;
}
.proshow-two .pro-mod-info {
  margin-top: 32px;
  width: 1131px;
  flex-shrink: 0;
  border: 1px dashed #B7B7B7;
  justify-content: center;
  padding: 36px 0 36px 67px;
  box-sizing: border-box;
}
.proshow-two .pro-mod-info #wp-mod-tit-wrap {
  width: 924px;
}
.proshow-two .pro-mod-info .pm-info-tit {
  margin: 45px 0;
}
.proshow-two .pro-mod-info .pm-info-tit strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.proshow-two .pro-mod-info .pm-info-tit svg {
  vertical-align: bottom;
  cursor: pointer;
  margin: 0 10px;
}
.proshow-two .pro-mod-info .pm-info-tit span {
  color: #5A5A5A;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  /* 0px */
}
.proshow-two .pro-mod-info .pm-box {
  display: flex;
}
.proshow-two .pro-mod-info .pm-box .pmb-mod {
  width: 217px;
  padding: 0 17px 0 0;
  box-sizing: border-box;
}
.proshow-two .pro-mod-info .pm-box .pmb-mod .pmb-lis {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.proshow-two .pro-mod-info .pm-box .pmb-mod .pmb-lis .pmb-li {
  height: 57px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 22px 0 14px;
  border: 1px solid #B7B7B7;
}
.proshow-two .pro-mod-info .pm-box .pmb-mod .pmb-lis .pmb-li strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 55px 0 17px;
}
.proshow-two .pro-mod-info .pm-box .pmb-mod .pmb-lis .pmb-li figure {
  cursor: pointer;
}
.proshow-two .pro-mod-info .pm-box .pmb-mod .pmb-lis .pmb-de {
  margin: 0 0 0 12px;
  flex-shrink: 0;
  cursor: pointer;
}
.proshow-two .pro-mod-info .pm-box .pmb-mod .pmb-lis-act .pmb-li {
  border: 1px solid #E83434;
}
.proshow-two .pro-mod-info .pm-box .pmb-info {
  width: 817px;
  flex-shrink: 0;
  border: 1px dashed #B7B7B7;
  display: flex;
  padding: 0 45px 33px 29px;
  box-sizing: border-box;
  justify-content: space-between;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-tit {
  width: 548px;
  flex-shrink: 0;
  padding: 44px 0 0 0;
  box-sizing: border-box;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-tit strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-tit #wp-proshow-wrap {
  margin: 26px 0 0;
  width: 100%;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or {
  padding: 39px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or > strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or > span {
  color: #5A5A5A;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 17px 0 29px;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or .ab-mod-img {
  position: relative;
  width: 150px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or .ab-mod-img > span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or .ab-mod-img img {
  max-width: 100%;
  max-height: 100%;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or .off-open-act .bbt-main {
  color: #1B1717;
  border: 1px solid #1B1717;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or .off-open-act .bbt-main::before {
  left: 3px;
  background: #1B1717;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or .ab-mod-hand {
  width: 113px;
  height: 31px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid #1C8CF2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.proshow-two .pro-mod-info .pm-box .pmb-info .pmb-in-or .ab-mod-hand span {
  color: #1C8CF2;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 0 7px;
}
.proshow-two .pro-mod-info .pm-box .pmb-info-act .pmb-in-tit {
  order: 1;
}
.proshow-two .pro-mod-info .pm-box .pmb-info-act .pmb-in-or {
  order: 0;
}
.proshow-two .proshow-line {
  margin: 86px 0 38px;
}
/*# sourceMappingURL=proshow.css.map */