.them_yiping {
  border: none;
}
.team-two {
  width: 100%;
  min-height: 651px;
  height: auto;
  flex-shrink: 0;
  border-radius: 3px;
  background: #FFF;
  margin-top: 20px;
  padding: 9px 0 0 16px;
  box-sizing: border-box;
}
.team-two .t-t-main {
  width: 1241px;
}
.team-two .t-t-main .t-t-top {
  margin: 30px 0;
}
.team-two .t-t-main .t-t-top strong {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.team-two .t-t-main .t-t-top svg {
  vertical-align: bottom;
  cursor: pointer;
  margin: 0 15px;
}
.team-two .t-t-main .t-t-top span {
  color: #5A5A5A;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  /* 0px */
}
.team-two .t-t-main .t-t-content {
  display: flex;
}
.team-two .t-t-main .t-t-content .ttc-list {
  width: 348px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-two .t-t-main .t-t-content .ttc-list .ttc-lis {
  width: 207px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.team-two .t-t-main .t-t-content .ttc-list .ttc-lis .ttc-li {
  width: 173px;
  height: 57px;
  flex-shrink: 0;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 0 0 14px;
}
.team-two .t-t-main .t-t-content .ttc-list .ttc-lis .ttc-li span {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 55px 0 17px;
}
.team-two .t-t-main .t-t-content .ttc-list .ttc-lis .ttc-li svg {
  cursor: pointer;
}
.team-two .t-t-main .t-t-content .ttc-list .ttc-lis .ttc-de {
  cursor: pointer;
}
.team-two .t-t-main .t-t-content .ttc-list .ttc-act .ttc-li {
  border: 1px solid #E83434;
}
.team-two .t-t-main .t-t-content .ttc-con {
  width: 817px;
  height: 383px;
  flex-shrink: 0;
  border: 1px dashed #B7B7B7;
  padding: 40px 0 0 30px;
  box-sizing: border-box;
  display: flex;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-info {
  display: flex;
  flex-direction: column;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-info label {
  display: flex;
  margin-bottom: 22px;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-info label input {
  min-height: 0;
  border: none;
  outline: none;
  padding: 0 0 0 5px;
  box-sizing: border-box;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-info label span {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 21px 0 0;
  flex-shrink: 0;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-info .ttc-c-name input {
  width: 137px;
  height: 25px;
  flex-shrink: 0;
  background: #EFEFEF;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-info .ttc-c-zai input {
  width: 458px;
  height: 25px;
  flex-shrink: 0;
  background: #EFEFEF;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-info .ttc-c-xx textarea {
  width: 458px;
  height: 168px;
  flex-shrink: 0;
  background: #EFEFEF;
  resize: none;
  padding: 5px 0 0 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-avatar {
  width: 281px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-avatar span {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-avatar em {
  color: #5A5A5A;
  font-family: Arial CE;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 17px 0 21px;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-avatar label {
  position: relative;
  width: 134px;
  height: 134px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #EFEFEF;
}
.team-two .t-t-main .t-t-content .ttc-con .ttc-c-avatar label > span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-two .t-t-main .svg-line {
  width: 1187px;
  margin: 34px 0;
}
.team-two .t-t-main .t-t-color .pub-color {
  display: flex;
  flex-direction: column;
}
.team-two .t-t-main .t-t-color .pub-color li {
  display: grid;
  grid-template-columns: 137px 137px 137px 253px;
  grid-template-rows: 25px;
  gap: 0 20px;
  align-items: center;
  margin-bottom: 20px;
}
.team-two .t-t-main .t-t-color .pub-color li > span {
  color: #000;
  font-family: Arial CE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.team-two .t-t-main .t-t-color .pub-color li > label {
  display: flex;
  align-items: center;
}
.team-two .t-t-main .t-t-color .pub-color li > label input {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 0;
}
.team-two .t-t-main .t-t-color .pub-color li .pu-color-wz {
  width: 100%;
  height: 100%;
}
.team-two .t-t-main .t-t-color .pub-color li .pu-color-wz input {
  width: 100%;
  height: 100%;
  background: #EFEFEF;
  padding: 0 0 0 5px;
}
.team-two .t-t-main .t-t-color .pub-color li .pu-color-wc,
.team-two .t-t-main .t-t-color .pub-color li .pu-color-ac {
  border: 1px solid #EFEFEF;
  background: #FFF;
  box-sizing: border-box;
}
.team-two .t-t-main .t-t-color .pub-color li .pu-color-wc input,
.team-two .t-t-main .t-t-color .pub-color li .pu-color-ac input {
  width: 25px;
  height: 25px;
}
.team-two .t-t-main .t-t-color .pub-color li .pu-color-wc span,
.team-two .t-t-main .t-t-color .pub-color li .pu-color-ac span {
  color: #272829;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 17px 0 10px;
}
.team-two .t-t-main .t-t-color .pub-color li .pu-color-wc em,
.team-two .t-t-main .t-t-color .pub-color li .pu-color-ac em {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272829;
  font-family: PingFang SC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 2px;
  background: #EFEFEF;
  padding: 2px 3px;
}
.team-two .t-t-main .t-t-color .pub-color li .pu-color-link {
  width: 100%;
  height: 100%;
}
.team-two .t-t-main .t-t-color .pub-color li .pu-color-link input {
  width: 100%;
  height: 100%;
  background: #EFEFEF;
  padding: 0 0 0 5px;
}
/*# sourceMappingURL=team.css.map */